@keyframes colors {
    from {
        background: orange;
    }


    to {
        background: blue;
    }
}


.main-styles {
    padding: 10%;
}

.splash{
    animation: colors 5s infinite alternate;
}

.darkmode {
    background-color: #777;
}

.darkmode * {
    color: white;
}

.darkmode button {
    color: black;
}